@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&display=swap');
.question{
font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 19px;
margin-bottom: 12px;
color: #293264;
}

.ans{
    min-width: 65px;
    min-height: 20px;
    border: 0.77px solid #4D5B9E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
    color: #293264;
    margin-bottom: 15px;
    margin-right: 10px;

}

.answers{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.qna{
    margin-bottom: 30px;
}
.bottom-line{
    width: 100%;
    border: 0.794239px solid #DBDEF0;
    transform: rotate(-0.05deg);
}

@media screen and (max-width: 600px) {
    body{
        margin: 10px;
    }
    .answers{
        width: 100%;
    }
    .ans{
        font-size: 10px;
    }
}